body{
    margin: 0;
    box-sizing: border-box;
    background-color: #808D7C;
    font-family: sans-serif;

}

.gameboy{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    gap: 7rem;
    background-color: #792ec5;
    box-sizing: border-box;
    margin: auto;
    margin-top: 3rem;
    width: 500px;
    height: 80vh;
    border-left:15px solid #4F1787 ;
    border-right:2px solid #4F1787;
    border-top: 5px solid #4F1787;
    border-bottom-left-radius: 10% ;
    border-bottom-right-radius: 10% ;
}


.marco{
    background-color: #4F1787;
    width: 90%;
    height: 350px;
    margin-top: 2rem;
    border-bottom-left-radius: 20% ;
    border-bottom-right-radius: 20% ;
    display: flex;
    justify-content: center;
}

.pantalla{
    background-color: #556f55;
    width: 80%;
    height: 250px;
    position: relative;
    border-radius: 4px;
    display: flex;
    align-items: flex-end;
}
.oculto{
    display: none;

}
.base{
    position: absolute;
    width: 2px;
    height: 100px;
    background-color: #000;
    bottom: 22px;
    left: 86px;  
    rotate: 90deg;
    
}
.poste{
    position: absolute;
    width: 2px;
    height: 150px;
    background-color: #000;
    top: 27px;
    left: 87px;
}
.brazo{
    position: absolute;
    width: 2px;
    height: 150px;
    background-color: #000;
    top: -48px;
    left: 161px;
    rotate: 90deg;
}

.soporte{
    position: absolute;
    width: 2px;
    height: 32px;
    background-color: #000;
    top: 22px;
    left: 100px;
    rotate: 45deg;
}
.lazo{
    position: absolute;
    width: 2px;
    height: 30px;
    background-color: #000;
    top:27px;
    right: 111px;
}
.cabeza{
    position: absolute;
    background-color: transparent;
    width: 35px;
    height:35px;
    border: 2px solid #000;
    border-radius: 50%;
    top: 55px;
    right: 93px;

}
.tronco{
    position: absolute;
    width: 2px;
    height: 50px;
    background-color: #000;
    top: 93px;
    right:111px;
}
.brazos{
    position: absolute;
    width: 2px;
    height: 35px;
    background-color: #000;
    top: 90px;
    right: 110px;  
    rotate: 90deg;
}
.pierna-izquierda{
    position: absolute;
    width: 2px;
    height: 25px;
    background-color: #000;
    bottom: 87px;
    right: 120px;
    rotate: 45deg;
}
.pierna-derecha{
    position: absolute;
    width: 2px;
    height: 25px;
    background-color: #000;
    bottom: 87px;
    right: 102px;
    rotate: 135deg;
}

.teclado{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 40%;
    font-size: 30px;
}

.inferior{
    width: 100%;
    height: 40px;
    min-height: 20px;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 1.4rem;
}

.palabra{
    text-decoration:none  ;
}

.fila{
    display: flex;
    flex-wrap: nowrap;
    gap: 7px;
}
.fila > *{
    background-color: #595f5f;
    width: 40px;
    text-align: center;
    border-radius: 3px;
    text-transform: uppercase;
}
/* The Modal (background) */
.modal {
    display: none;/* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .centrado{
    text-align: center;
    font-size: 2em;
  }